
       <div class="col-xs-10 col-md-10" style="margin-left:100px;margin-top:5px">

             <div ng-controller="CrashCtrl" class="col-xs-12 col-md-12" id="" data-ng-init="init()">

                           </br></br>
              <div  class="col-xs-12 col-md-12" id="divSummaryCrash">
                    <div class="panel panel-default" style="margin-top:5px;margin-bottom:10px">
                       <div class="panel-heading" style="height:48px">
                         <div id="reportrange" class="pull-left">
                             <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                             <span></span>

                         </div>
                         <div class="btn-group pull-right" role="group" aria-label="...">
                             <button type="button" id="btntoday" class="btn btn-default btn-sm">Today</button>
                             <button type="button" id="btnyesterday" class="btn btn-default btn-sm">Yesterday</button>
                             <button type="button" id="btncurrmonth" class="btn btn-default btn-sm">Current Month</button>
                             <button type="button" id="btnprevmonth" class="btn btn-default btn-sm">Previous Month</button>
                             <button type="button" id="btn3mnths" class="btn btn-default btn-sm">3 months</button>
                             <button type="button" id="btn6mnths" class="btn btn-default btn-sm">6 months</button>
                             <button type="button" id="btn1year" class="btn btn-default btn-sm">1 year</button>
                         </div>
                       </div> <!--panel-heading-->
                      <div class="panel-body" style="margin-top:-15px;margin-bottom:-15px">
                        <div id="divTableCrash" class="table table-hover">
                        	<table class="table">
            						    <tr>
            						        <th>Time</th>
                                <th>Platform</th>
                                <th>OS Version</th>
                                <th>App Version</th>
            						        <th>Total Crash Count</th>
            						    </tr>
            						    <tr ng-repeat="crashdata in crashsummarydata">
                              <td padding="10px">{{crashdata._id.ConvertedTime}}</td>
                              <td padding="10px">{{crashdata._id.Platform}}</td>
                              <td padding="10px">{{crashdata._id.OSVersion}}</td>
                              <td padding="10px">{{crashdata._id.AppVersion}}</td>
            						        <td padding="10px"><a ng-click="crashname = crashdata._id;openModel(crashname);">{{crashdata.Total_Crash_Count}}</a></td>
  <!--           						        <td padding="10px">{{crashdata.Total_Crash_Count}}</td> -->
            						    </tr>
            						</table>

                      <!-- Modal Start-->
                      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                          <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myLargeModalLabel">Modal title</h4>
                              </div>
                              <div class="modal-body" id="divcrashdetailchart">

                                <div id="divTableCrashDetail" class="table table-hover">
                                  <table class="table">
                                    <tr>
                                        <th>Error Number</th>
                                        <th>Error Detail</th>
                                    </tr>
                                    <tr ng-repeat="crashdetail in crashdetaildata">
                                      <td padding="10px">{{crashdetail.ErrorNumber}}</td>
                                      <td padding="10px"><p style="white-space: pre;">{{crashdetail.ErrorMessage}}</p></td>
                                    </tr>
                                </table>

                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Modal End-->

                      </div> <!--divTableEvents-->
                    </div> <!--panel panel-body-->
                 </div> <!--panel panel-default-->

             </div> <!--col-xs-12 col-md-12-->
         </div> <!-- Crash Report  <tr>
       </tr>-->
<!--       </div> -->
  </div><!-- col-xs-10 col-md-10 -->

