<style>
     
     #divsubdeviceManufacturersvg1,#divsubdeviceManufacturersvg2,
     #divsubdeviceModelsvg1,#divsubdeviceModelsvg2,
     #divsubdeviceTypesvg1,#divsubdeviceTypesvg2,
     #divsubplatformsvg1,#divsubplatformsvg2,
     #divsuboperatingSystemVersionsvg1,#divsuboperatingSystemVersionsvg2,
     #divsubappVersionsvg1,#divsubappVersionsvg2,
     #divsubcarriersvg1,#divsubcarriersvg2,
     #divsubresolutionsvg1,#divsubresolutionsvg2
        {
          width: 100%;
          height: 100%;
        }
   
        .transparentScrollbarDiv::-webkit-scrollbar {
            width: inherit;
        }

        /* this targets the default scrollbar (compulsory) */

        .transparentScrollbarDiv::-webkit-scrollbar-track {
            background-color: transparent;
        }

        /* the new scrollbar will have a flat appearance with the set background color */

        .transparentScrollbarDiv::-webkit-scrollbar-thumb {
            background-color: transparent;
        }

        /* this will style the thumb, ignoring the track */

        .transparentScrollbarDiv::-webkit-scrollbar-button {
            background-color: transparent;
        }

        /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

        .transparentScrollbarDiv::-webkit-scrollbar-corner {
            background-color: transparent;
        }

        /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

</style>
    <div style="margin-top:10px;margin-bottom:0px" ng-controller="DevicePieChartCtrl" data-ng-init="init()">

              <div class="panel panel-default" style="margin-top:0px;margin-bottom:0px">
                       <div class="panel-heading" style="height:48px">
                             <div id="reportrange" style="margin-left:-7px;" class="pull-left">
                                 <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                 <span></span>
                             </div>

                             <div class="btn-group pull-right hidden-xs hidden-sm hidden-md" role="group" aria-label="...">
                                <button type="button" id="btntoday" class="btn btn-default btn-sm">Today</button>
                                <button type="button" id="btnyesterday" class="btn btn-default btn-sm">Yesterday</button>   
                                <button type="button" id="btncurrmonth" class="btn btn-default btn-sm">Current Month</button>
                                <button type="button" id="btnprevmonth" class="btn btn-default btn-sm">Previous Month</button>
                                <button type="button" id="btn3mnths" class="btn btn-default btn-sm">3 Months</button>
                                <button type="button" id="btn6mnths" class="btn btn-default btn-sm">6 Months</button>
                                <button type="button" id="btn1year" class="btn btn-default btn-sm">1 Year</button>
                             </div>
                             <div class="btn-group pull-right visible-xs visible-sm visible-md">
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                Frequency <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="javascript:void(0)" id="anchtoday">Today</a></li>
                                  <li><a href="javascript:void(0)" id="anchyesterday">Yesterday</a></li>
                                  <li><a href="javascript:void(0)" id="anchcurrmonth">Current Month</a></li>
                                  <li><a href="javascript:void(0)" id="anchprevmonth">Previous Month</a></li>
                                  <li><a href="javascript:void(0)" id="anch3mnths">3 Months</a></li>
                                  <li><a href="javascript:void(0)" id="anch6mnths">6 Months</a></li>
                                  <li><a href="javascript:void(0)" id="anch1year">1 Year</a></li>
                                </ul>
                            </div>   
                        </div> <!--panel-heading-->
                        <div class="panel-body" style="margin-top:-20px;margin-bottom:0px">
                          <div id="divdeviceManufacturer" ng-show="showdeviceManufacturer">
                            <h4> Device Manufacturers </h4>
                              <div id ='divsubdeviceManufacturer'>
                                <div class="row table-bordered">
                                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id='divsubdeviceManufacturerdiv1'>
                                    </div>
                                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id='divsubdeviceManufacturerdiv2'> 
                                   </div>
                                </div>
                              </div>
                              <div class="row"> 
                                <div id="transparentScrollbarDiv" class="container-fluid table-bordered transparentScrollbarDiv" style="overflow-y: scroll;">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6"><strong>Manufacturer</strong></div>
                                        <div class="col-lg-3 col-xs-3"><strong>Total Users</strong></div>
                                        <div class="col-lg-3 col-xs-3"><strong>Total Time Spent</strong></div>
                                    </div>
                                </div>
                                <div class="container-fluid table-bordered" style="height:120px; overflow-y: auto">
                                    <div>
                                        <div class="row table-bordered" ng-repeat="manufacturer in deviceManufacturerdata">
                                            <div class="col-lg-6 col-xs-6">{{manufacturer._id}}</div>
                                            <div class="col-lg-3 col-xs-3">{{manufacturer.Unique_User_Count}}</div>
                                            <div class="col-lg-3 col-xs-3">{{manufacturer.Total_Time_Spent}}</div>
                                        </div>
                                    </div>
                                </div>
                              </div>                             
                           </div>                      
                          <div id="divdeviceModel" ng-show="showdeviceModel">
                            <h4> Device Model</h4>
                              <div id ='divsubdeviceModel'>
                                <div class="row table-bordered">
                                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id='divsubdeviceModeldiv1'> 
                                   </div>
                                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id ='divsubdeviceModeldiv2'>
                                   </div>
                                </div>
                              </div>
                              <div class="row"> 
                                <div id="transparentScrollbarDiv" class="container-fluid table-bordered transparentScrollbarDiv" style="overflow-y: scroll;">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6"><strong>Model</strong></div>
                                        <div class="col-lg-3 col-xs-3"><strong>Total Users</strong></div>
                                        <div class="col-lg-3 col-xs-3"><strong>Total Time Spent</strong></div>
                                    </div>
                                </div>
                                <div class="container-fluid table-bordered" style="height:120px; overflow-y: auto">
                                    <div>
                                        <div class="row table-bordered" ng-repeat="model in deviceModeldata">
                                            <div class="col-lg-6 col-xs-6">{{model._id}}</div>
                                            <div class="col-lg-3 col-xs-3">{{model.Unique_User_Count}}</div>
                                            <div class="col-lg-3 col-xs-3">{{model.Total_Time_Spent}}</div>
                                        </div>
                                    </div>
                                </div>
                              </div>                            
                          </div>
                          <div id="divdeviceType" ng-show="showdeviceType">
                            <h4> Device Types </h4>
                              <div id ='divsubdeviceType'>
                                <div class="row table-bordered">
                                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id='divsubdeviceTypediv1'> 
                                   </div>
                                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id ='divsubdeviceTypediv2'>
                                   </div>
                                </div>
                              </div>
                              <div class="row"> 
                                <div id="transparentScrollbarDiv" class="container-fluid table-bordered transparentScrollbarDiv" style="overflow-y: scroll;">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6"><strong>Type</strong></div>
                                        <div class="col-lg-3 col-xs-3"><strong>Total Users</strong></div>
                                        <div class="col-lg-3 col-xs-3"><strong>Total Time Spent</strong></div>
                                    </div>
                                </div>
                                <div class="container-fluid table-bordered" style="height:120px; overflow-y: auto">
                                    <div>
                                        <div class="row table-bordered" ng-repeat="deviceType in deviceTypedata">
                                            <div class="col-lg-6 col-xs-6">{{deviceType._id}}</div>
                                            <div class="col-lg-3 col-xs-3">{{deviceType.Unique_User_Count}}</div>
                                            <div class="col-lg-3 col-xs-3">{{deviceType.Total_Time_Spent}}</div>
                                        </div>
                                    </div>
                                </div>
                              </div>                            
                          </div>                        
                          <div id="divplatform" ng-show="showdevicePlatform">
                            <h4> Device Platforms </h4>
                              <div id ='divsubplatform'>
                                <div class="row table-bordered">
                                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id='divsubplatformdiv1'> 
                                   </div>
                                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id ='divsubplatformdiv2'>
                                   </div>
                                </div>
                              </div>
                              <div class="row"> 
                                <div id="transparentScrollbarDiv" class="container-fluid table-bordered transparentScrollbarDiv" style="overflow-y: scroll;">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6"><strong>Platform</strong></div>
                                        <div class="col-lg-3 col-xs-3"><strong>Total Users</strong></div>
                                        <div class="col-lg-3 col-xs-3"><strong>Total Time Spent</strong></div>
                                    </div>
                                </div>
                                <div class="container-fluid table-bordered" style="height:120px; overflow-y: auto">
                                    <div>
                                        <div class="row table-bordered" ng-repeat="platform in platformdata">
                                            <div class="col-lg-6 col-xs-6">{{platform._id}}</div>
                                            <div class="col-lg-3 col-xs-3">{{platform.Unique_User_Count}}</div>
                                            <div class="col-lg-3 col-xs-3">{{platform.Total_Time_Spent}}</div>
                                        </div>
                                    </div>
                                </div>
                              </div>                             
                          </div>   
                          <div id="divoperatingSystemVersion" ng-show="showdeviceOSVersion">
                            <h4> Device OS Versions </h4>
                              <div id ='divsuboperatingSystemVersion'>
                                <div class="row table-bordered">
                                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id='divsuboperatingSystemVersiondiv1'> 
                                   </div>
                                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id ='divsuboperatingSystemVersiondiv2'>
                                   </div>
                                </div>
                              </div>
                              <div class="row"> 
                                <div id="transparentScrollbarDiv" class="container-fluid table-bordered transparentScrollbarDiv" style="overflow-y: scroll;">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6"><strong>OS Version</strong></div>
                                        <div class="col-lg-3 col-xs-3"><strong>Total Users</strong></div>
                                        <div class="col-lg-3 col-xs-3"><strong>Total Time Spent</strong></div>
                                    </div>
                                </div>
                                <div class="container-fluid table-bordered" style="height:120px; overflow-y: auto">
                                    <div>
                                        <div class="row table-bordered" ng-repeat="operatingSystemVersion in operatingSystemVersiondata">
                                            <div class="col-lg-6 col-xs-6">{{operatingSystemVersion._id}}</div>
                                            <div class="col-lg-3 col-xs-3">{{operatingSystemVersion.Unique_User_Count}}</div>
                                            <div class="col-lg-3 col-xs-3">{{operatingSystemVersion.Total_Time_Spent}}</div>
                                        </div>
                                    </div>
                                </div>
                              </div>                             
                          </div>   
                          <div id="divappVersion" ng-show="showdeviceAppVersion">
                            <h4> Device App Versions </h4>
                              <div id ='divsubappVersion'>
                                <div class="row table-bordered">
                                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id='divsubappVersiondiv1'> 
                                   </div>
                                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id ='divsubappVersiondiv2'>
                                   </div>
                                </div>
                              </div>
                              <div class="row"> 
                                <div id="transparentScrollbarDiv" class="container-fluid table-bordered transparentScrollbarDiv" style="overflow-y: scroll;">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6"><strong>App Version</strong></div>
                                        <div class="col-lg-3 col-xs-3"><strong>Total Users</strong></div>
                                        <div class="col-lg-3 col-xs-3"><strong>Total Time Spent</strong></div>
                                    </div>
                                </div>
                                <div class="container-fluid table-bordered" style="height:120px; overflow-y: auto">
                                    <div>
                                        <div class="row table-bordered" ng-repeat="appVersion in appVersiondata">
                                            <div class="col-lg-6 col-xs-6">{{appVersion._id}}</div>
                                            <div class="col-lg-3 col-xs-3">{{appVersion.Unique_User_Count}}</div>
                                            <div class="col-lg-3 col-xs-3">{{appVersion.Total_Time_Spent}}</div>
                                        </div>
                                    </div>
                                </div>
                              </div>                             
                          </div>   
                          <div id="divcarrier" ng-show="showdeviceCarrier">
                            <h4> Device Carriers </h4>
                              <div id ='divsubcarrier'>
                                <div class="row table-bordered">
                                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id='divsubcarrierdiv1'> 
                                   </div>
                                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id ='divsubcarrierdiv2'>
                                   </div>
                                </div>
                              </div>
                              <div class="row"> 
                                <div id="transparentScrollbarDiv" class="container-fluid table-bordered transparentScrollbarDiv" style="overflow-y: scroll;">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6"><strong>Carrier</strong></div>
                                        <div class="col-lg-3 col-xs-3"><strong>Total Users</strong></div>
                                        <div class="col-lg-3 col-xs-3"><strong>Total Time Spent</strong></div>
                                    </div>
                                </div>
                                <div class="container-fluid table-bordered" style="height:120px; overflow-y: auto">
                                    <div>
                                        <div class="row table-bordered" ng-repeat="carrier in carrierdata">
                                            <div class="col-lg-6 col-xs-6">{{carrier._id}}</div>
                                            <div class="col-lg-3 col-xs-3">{{carrier.Unique_User_Count}}</div>
                                            <div class="col-lg-3 col-xs-3">{{carrier.Total_Time_Spent}}</div>
                                        </div>
                                    </div>
                                </div>
                              </div>                             
                          </div>                                                                     
                          <div id="divresolution" ng-show="showdeviceResolution">
                            <h4> Device Resolution </h4>
                              <div id ='divsubresolution'>
                                <div class="row table-bordered">
                                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id='divsubresolutiondiv1'> 
                                   </div>
                                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id ='divsubresolutiondiv2'>
                                   </div>
                                </div>
                              </div>
                              <div class="row"> 
                                <div id="transparentScrollbarDiv" class="container-fluid table-bordered transparentScrollbarDiv" style="overflow-y: scroll;">
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6"><strong>Resolution</strong></div>
                                        <div class="col-lg-3 col-xs-3"><strong>Total Users</strong></div>
                                        <div class="col-lg-3 col-xs-3"><strong>Total Time Spent</strong></div>
                                    </div>
                                </div>
                                <div class="container-fluid table-bordered" style="height:120px; overflow-y: auto">
                                    <div>
                                        <div class="row table-bordered" ng-repeat="resolution in resolutiondata">
                                            <div class="col-lg-6 col-xs-6">{{resolution._id}}</div>
                                            <div class="col-lg-3 col-xs-3">{{resolution.Unique_User_Count}}</div>
                                            <div class="col-lg-3 col-xs-3">{{resolution.Total_Time_Spent}}</div>
                                        </div>
                                    </div>
                                </div>
                              </div>                             
                          </div>   
                      </div> <!--panel panel-body-->
                 </div> <!--panel panel-default-->
         </div> <!-- DevicePieChartCtrl  <tr>

