<style> /* set the CSS */
/*
body { font: 12px Arial;}*/

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
}

#Event_Compare_SVG_ID_1 {
  width: 100%;
  height: 100%;
}
#Event_Compare_SVG_ID_2 {
  width: 100%;
  height: 100%;
}
</style>


             <div ng-controller="EventsCompareCtrl" data-ng-init="init()">

                <div id="doubleChartEventsCompare">

                  <div class="panel panel-default" style="margin-top:5px;margin-bottom:10px">
                      <div class="panel-heading" style="height:48px">
                           <div id="reportrange" style="margin-left:-7px;" class="pull-left">
                               <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                               <span></span>
                           </div>
                           <div class="btn-group pull-right hidden-xs hidden-sm hidden-md" role="group" aria-label="...">
                               <button type="button" id="btntoday" class="btn btn-default btn-sm">Today</button>
                               <button type="button" id="btnyesterday" class="btn btn-default btn-sm">Yesterday</button>
                               <button type="button" id="btncurrmonth" class="btn btn-default btn-sm">Current Month</button>
                               <button type="button" id="btnprevmonth" class="btn btn-default btn-sm">Previous Month</button>
                               <button type="button" id="btn3mnths" class="btn btn-default btn-sm">3 months</button>
                               <button type="button" id="btn6mnths" class="btn btn-default btn-sm">6 months</button>
                               <button type="button" id="btn1year" class="btn btn-default btn-sm">1 year</button>
                           </div>
                           <div class="btn-group pull-right visible-xs visible-sm visible-md">
                              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                              Frequency <span class="caret"></span></button>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="javascript:void(0)" id="anchtoday">Today</a></li>
                                <li><a href="javascript:void(0)" id="anchyesterday">Yesterday</a></li>
                                <li><a href="javascript:void(0)" id="anchcurrmonth">Current Month</a></li>
                                <li><a href="javascript:void(0)" id="anchprevmonth">Previous Month</a></li>
                                <li><a href="javascript:void(0)" id="anch3mnths">3 Months</a></li>
                                <li><a href="javascript:void(0)" id="anch6mnths">6 Months</a></li>
                                <li><a href="javascript:void(0)" id="anch1year">1 Year</a></li>
                              </ul>
                          </div>                             
                        </div> <!--panel-heading-->
                        <div class="panel-body" style="margin-top:-15px;margin-bottom:-15px">
                            <div class="table-responsive">
                              <table class="table" align='center' style='width:570px;'>
                                <tr>
                                    <td style='width:200px;'>
                                       <b>Events Selector:</b><br/>
                                      <select id="EventsSelector" style="height:150px;width:150px" multiple="multiple">
                                          <option ng-repeat="event in eventsdata" value="{{event._id}}">{{event._id}}</option>
                                      </select>
                                    </td>

                                <td style='width:35px;text-align:left'>
                                  <br>
                                    <input type='button' class="btn btn-default" id='btnRight' value = ' > '/>
                                    <br/><input type='button' class="btn btn-default" id='btnLeft' value = '< '/>
                                </td>

                                <td style='width:200px;text-align:right'>
                                    <b>Events Compared: </b><br/>
                                    <select multiple="multiple" style="height: 150px; width:150px" id="ComparedEvents">
                                    </select>
                                </td>
                                <td style='width:135px;text-align:right'>
                                  <br>
                                  <button type="button" id="btnCompare" class="btn btn-primary">Compare</button>
                                </td>
                               </tr>
                             </table>
                            </div>

                            
                             <div id="divEventNonUniqueChart">
                                <h4>Total Number of Events</h4>
                             </div>
                             <div id="divEventUniqueChart">
                                <h4>Unique Number of Users</h4>                       
                             </div>
                        </div> <!--panel panel-body-->
                 </div> <!--panel panel-default-->

             </div> <!--col-xs-12 col-md-12-->
         </div> <!-- InsightSessionCtrl  <tr>

